.buttonReset {
    background-color: #2F2F2F;
    width: 160px;
    height: 70px;
    margin-left: 194px;
    justify-content: center
}

.buttonStart {
    background-color: #F8D41A;
    width: 160px;
    height: 70px;
    justify-content: center;
}