.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.wrapper {
    display: inline-block;
}

.time {
    font-size: 128px;
    text-align: center;
}

.time:hover {
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.btn {
    font-family: inherit;
    font-size: 24px;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    box-shadow: 0 0 10px 5px var(--neutral-400);
}

.startBtn {
    background: var(--yellow-color);
}

.resetBtn {
    background: var(--neutral-800);
    color: white;
}

.progressWrapper {
    background: var(--neutral-800);
    height: 30px;
}

.progressValue {
    background: var(--yellow-color);
    height: 30px;
    width: 70%;
}

.modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
}

.content {
    width: 750px;
    background-color: #fff;
    margin: 240px auto;
    padding-bottom: 50px;
}

.header {
    background-color: var(--yellow-color);
    max-width: 750px;
    height: 70px;
}

.input {
    max-width: 400px;
    font-size: 50px;
    font-family: inherit;
    border: none;
    background-color: var(--grey-300);
    padding: 0;
}

.inputs {
    margin-top: 50px;
}

.textBeforeInput {
    font-size: 48px;
    font-family: inherit;
}

.textInput {
    display: flex;
    margin: 50px 50px 0;
    justify-content: space-between;
}

.btnTime {
    font-family: inherit;
    font-size: 40px;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.btnTime:hover {
    box-shadow: 0 0 10px 5px var(--neutral-400);
}

.applyBtn {
    background-color: var(--yellow-color);
}

.cancelBtn {
    background-color: var(--grey-300);
}
